name: Run pytest

on:
  push:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
        pip install -e .[tests]
    - name: Build package
      run: python -m build
    - name: Test with pytest
      run: |
         pytest tests/ --junitxml=junit/test-results.xml
    - name: Test summary
      uses: test-summary/action@v2.4
      with:
        paths: junit/test-results.xml
      if: always()
    - name: Upload results
      uses: actions/upload-artifact@v4
      with:
        name: pytest-results
        path: junit/test-results.xml
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
